html,
body {
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
    background: #fff;

}
.heading-top-title {
    padding: 30px 30px 10px;
}
.heading-top-title h2 {
	font-weight: 600;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.686111px;
color: #404B63;
margin:0px;
}
.accordion{
    padding: 30px;
}
.accordion-button:not(.collapsed) {
    color: #3FB16B;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: none;
}
.accordion-button:focus {
    outline: 0;
    box-shadow: none;
}
.accordion-button {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 20px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.686111px;
    color: #404B63;
    padding: 25px 80px 25px 35px;
    box-shadow: none;
}
.accordion-body {
    padding: 23px 30px 15px;
}
.accordion-body p {
	font-weight: 400;
    font-size: 16px;
    line-height: 32px;
     color: #919191;
	
}
.accordion-body ul li {
	font-weight: 400;
    font-size: 16px;
    line-height: 32px;
     color: #919191;
}
.accordion-item {
    margin-bottom: 22px;
    border: transparent;
	border-radius: 20px !important;
}
.accordion-button:after {
    width: 17px;
    height:9px ;
    background-image: url(../images/downarrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/downarrowup.svg);
}

.accordion-button:not(.collapsed) {
    color: #404B63;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: none;
}
.active {
    border-radius: 20px;
    border: 1px solid #3FB16B !important;
}
@media(max-width:767px){
	.heading-top-title {
    padding: 25px 30px 0px;
}
	.accordion-button {
    padding: 15px 20px;
	font-size: 15px;
    line-height: 25px;
}
.accordion-body {
    padding: 20px;
}
.accordion-body p, .accordion-body ul li {
    font-size: 14px;
    line-height: 26px;
}

}